{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bacak</h1>
    <p class="lead">Bacak ile ilgili videolar ve açıklamalar.</p>
    <hr class="my-4">
    <ul class="links">
        <img src="{{ url_for('static', filename='images/bacak1.jpg') }}" class="card-img-top">
        <li><a href="https://youtu.be/nSECUu4VFOc?si=U3RcQTFcAbgQ3szP" target="_blank">Bacak 1</a></li>
        <li><a href="https://youtu.be/pT8YHR0G_CU?si=FCQcYwKAqn8XxKHp" target="_blank">Bacak 2</a></li>
        <li><a href="https://youtu.be/SkMTJ6mswpI?si=dq-kFe6qPSE8ysU0" target="_blank">Bacak 3</a></li>
        <li><a href="https://youtu.be/a7IorhJtpVg?si=XXH8HSBfoxd0AEi5" target="_blank">Bacak 4</a></li>
        <li><a href="https://youtu.be/qH1e8HYEDCQ?si=Kf8y141f44g1pPeh" target="_blank">Bacak 5</a></li>
        <li><a href="https://youtu.be/vL9KBe6hmr8?si=0UL7eBOnnAUi3WHy" target="_blank">Bacak 6</a></li>
        <li><a href="https://youtu.be/Jg61m0DwURs?si=0b5khE5MCz-tRgRa" target="_blank">Bacak 7</a></li>
    </ul>
</div>
{% endblock %}