{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Pilates Eğitim Sitesi</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <img src="{{ url_for('static', filename='images/anasayfa.png') }}" class="card-img-top">

    <p><strong>Pilates 20. yüzyılda geliştirilmiş bir egzersiz dalıdır ve omurgayı en sağlıklı haline getirerek vücudun dik durmasını sağlar.</strong> İçerisinde her yaş için uygun hareketler barındıran pilates, her döneme hitap edebilen bir spor dalı olarak görülmektedir. Tüm bu nedenlerden dolayı her yaşta tavsiye edilen pilates, kemiklerin yaşlanmasının önüne geçer; daha esnek ve daha sağlıklı bedenler ortaya koyar. Bu yazımızda, sizleri pilatesle ilgili daha detaylı bilgilendirmeye çalışacağız. Dilerseniz hemen başlayalım!</p>

    <h2>Pilates nedir?</h2>
    <p>Pilates, 20. yüzyılın başlarında Joseph Hubert Pilates tarafından geliştirilmiş bir egzersiz sistemidir. Aslında bir rehabilitasyon hizmeti olan pilates, günümüzde yalnızca sakatlıkların tedavisinde değil; fit bir vücuda sahip olmak, ileri yaşlarını sağlıklı yaşamak, vücudunu şekillendirmek ve kas kütlesini artırmak isteyen bireylere en kısa sürede cevap veren bir egzersiz sistemi halini almıştır.</p>

    <p>İnsan bedenine sağladığı sayısız yarar ile pilates, asrın sporu olarak değerlendirilebilir. Pilates tüm bu yararlarının yanı sıra, vücudun duruşunu düzenlemesi sebebiyle de insanlar tarafından ilgi görmektedir. İnsanların günlük yaşam alışkanlıklarının sebep olduğu duruş bozuklukları, zamanla çeşitli ağrılara ve ciddi sakatlıklara sebebiyet verebilmektedir. İşte pilates, prensipleri ile kişinin omurgasını sağlıklı ve doğal konumuna getirerek kişinin duruşunu düzenlemeyi amaçlar.</p>

    <h2>Pilates nasıl yapılır?</h2>
    <p>Pilates, diğer spor dallarının aksine hiçbir ekipman gerektirmeyen bir egzersiz sistemidir. Pilates prensiplerine bağlı kalınarak yapılan her hareket, pilates egzersizi olarak kabul edilebilir. Elbette etkisini artırmak için kullanılan ekipmanlar ve aletler vardır ancak az önce de belirttiğimiz gibi; aslında yalnızca pilates prensipleri uygulanarak bile pilates yapılabilir.</p>

    <p>Pilates, kasları dengeli bir şekilde esnetip kuvvetlendirerek çalıştırır. Tıpkı diğer egzersizlerde olduğu gibi, pilates yapmadan önce de yeteri kadar ısınmak gerekmektedir. Aksi takdirde pilates de çeşitli sakatlıklara zemin hazırlayabilir.</p>

    <h2>Pilatesin faydaları nelerdir?</h2>
    <ul>
        <li><strong>Düzenli yapılan pilates, sıkılaşmanızı ve kilo vermenizi sağlar.</strong></li>
        <li><strong>Pilates, kasları dengeli bir şekilde esnettiği ve kuvvetlendirdiği için kısa zamanda vücudunuzu şekillendirir.</strong></li>
        <li><strong>Pilates vücuttaki tüm kasları çalıştırmayı hedefler. Bu nedenle normalde ihmal edilen kaslar bile kuvvetli hale gelir. Bu da daha dengeli ve kuvvetli bir bedene sahip olmanızı sağlar.</strong></li>
        <li><strong>Pilates omurga sağlığını temel alarak duruşunuzu düzeltir.</strong></li>
        <li><strong>Pilates egzersizleri, esnekliğinizi artırır. Bu sayede olası sakatlanmalara karşı daha korunaklı olursunuz.</strong></li>
        <li><strong>Pilates konsantrasyon ve koordinasyon gerektiren bir egzersiz sistemidir. Dolayısıyla düzenli yaptığınızda konsantrasyon ve koordinasyonunuz gelişir.</strong></li>
        <li><strong>Pilates sadece bedeniniz için değil, zihinsel sağlığınız için de faydalıdır. Düzenli pilates yapmak stresten uzak kalmanızı sağlar ve zihinsel sağlığınızı destekler.</strong></li>
        <li><strong>Pilates vücudunuzu daha iyi tanıyarak bedeninize daha hâkim olmanızı sağlar.</strong></li>
        <li><strong>Hamilelik döneminde bir uzman eşliğinde yapıldığında, doğum sürecini kolaylaştırdığı bilinmektedir.</strong></li>
        <li><strong>Pilates doğru nefes almayı öğrettiği için akciğerlerin oksijen kapasitesini artırır ve yanlış nefes almaya bağlı olarak gelişen rahatsızlıkların giderilmesine yardımcı olur.</strong></li>
        <li><strong>Pilates birçok sakatlığın rehabilitasyonunda da etkili sonuçlara sahiptir.</strong></li>
    </ul>
</div>
{% endblock %}
