{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Isınma</h1>
    <p class="lead">Isınma egzersizleri yapılmadığında, antrenman esnasında kaslarınızı zorlayarak sakatlanma riskini arttırmış olursunuz. Bu nedenle antrenman öncesi vücudun her bölgesi için yapılan gerdirme hareketleri ile kan dolaşımı hızlandırılmalı, vücudun genel ısısı yükseltilerek spora hazırlık yapılmalıdır.</p>
    <hr class="my-4">
    <ul class="links">
        <img src="{{ url_for('static', filename='images/ısınma1.jpg') }}" class="card-img-top">
        <li><a href="https://youtu.be/-n753qyHsdw?si=c8Btf3mjWTgd1i6c" target="_blank">Isınma 1</a></li>
        <li><a href="https://youtu.be/ZpikWwejBY0?si=5lD2jl-RwbYNVKr2" target="_blank">Isınma 2</a></li>
        <li><a href="https://youtu.be/-p0PA9Zt8zk?si=n4Kjew9rod3JtyrU" target="_blank">Isınma 3</a></li>
        <li><a href="https://youtu.be/f3zOrYCwquE?si=fivOgv-MMhwwQ4QX" target="_blank">Isınma 4</a></li>
    </ul>
</div>
{% endblock %}
