{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Karın</h1>
    <p class="lead">Karın ile ilgili videolar ve açıklamalar.</p>
    <hr class="my-4">
    <ul class="links">
        <p>Pilates hareketleri sırt, karın ve kalça odaklı yapılabilir. Hareketlere omurganın doğal pozisyonunu bulmadan, karnı içeri çekerek ve karın kaslarını sabitlemeden başlanması gerekir. Pilates egzersizlerini uygularken karnı içeri çekmek vücudun dengelenmesini sağlar. Böylece karın kasları aktif olarak çalışmaya başlar.</p>
        <li><a href="https://youtu.be/XTsWNQ2C7i0?si=I0vDJhGgLSD1xdr9" target="_blank">Karın 1</a></li>
        <li><a href="https://youtu.be/G16eeqO2U7g?si=--THubt6nqXaAKAl" target="_blank">Karın 2</a></li>
        <li><a href="https://youtu.be/h8ctkfSx6R0?si=aiugv58vBY9MlT9X" target="_blank">Karın 3</a></li>
        <li><a href="https://youtu.be/AvWVYgzH_f4?si=E01b99CySf2QqG4H" target="_blank">Karın 4</a></li>
        <li><a href="https://youtu.be/6TmQiugy_qw?si=NtRqmBaChYOFG_B8" target="_blank">Karın 5</a></li>
    </ul>
</div>
{% endblock %}