{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Sıkça Sorulan Sorular</h1>
    <hr class="my-4">
    <h3>Erkekler Pilates Yapar mı?</h3>
    <p>Erkeklerle Pilates hakkında konuştuğumuz zaman, genelde aynı soruyla karşılaşıyoruz: “Pilates kadınlar için bir egzersiz değil midir?” veya “Erkekler pilates yapar mı?”</p>

    <p>Elbette yapar ve, pilates erkekler için çok faydalı bir egzersizdir.</p>

    <blockquote>
        <p><strong>“EVET BEYLER, PİLATES YAPABİLİRSİNİZ”</strong></p>
        <img src="{{ url_for('static', filename='images/erkek.png') }}" class="card-img-top">
        <p>Her şeyden önce, Pilates’in mucidi bir erkek; Joseph Pilates: Birinci Dünya Savaşı sırasında yaralı askerleri tedavi ve rehabilite etmek amacıyla keşfedilmiş. Sonrasında geliştirilerek, hem erkekler hem de kadınlar olmak üzere seçkin sporcuları eğitmek ve çalıştırmak için kullanıldı. Gerçekten de pilates dayanıklılığı, gücü, esnekliği ve en önemlisi kişinin vücudu üzerindeki kontrolünü artırmayı amaçlıyor ve bunun da kadını, erkeği yok!</p>
        <p>Pilates, bedeninizin core (gövdemizi ve iskeletimizi ayakta tutan büyük kas grupları) dengesini geliştirecek, kaslarınızı yeniden dengeleyecek ve kaslarınızın daha verimli çalışmasını sağlayacaktır. Erkekler genelde, kaslarını geliştirmeye odaklanırlar ancak asıl düşünmeleri gereken konudan uzaklaşırlar: core gücü veya formu geliştirme. Bu noktada, mükemmel bir vücuda sahip olmak, daha güçlü olmak ve bir kruvasan gibi görünmek istemiyorsanız Pilates tam size göre…</p>
        <p>Pilates, erkeklerde genelde eksik olan esnekliği arttıracaktır.</p>
    </blockquote>

    <p>Masabaşı işi yapıyorsanız, duruş bozukluklarını gidermek için Pilates idealdir. Pilates; stres ile başa çıkmanızda yardımcı olacak, zihin ve bedeninizle bağlanmanızı sağlayacaktır. Pilates yapmak konsantre olmayı gerektirir, dolayısı ile egzersiz yaparken sizi strese sokan işlerinizi düşünmeyecek, zihninizi boşaltıp tazeleyebileceksiniz.</p>

    <p>Eğer bir spor dalıyla uğraşıyorsanız, pilates sizi sakatlanmalardan koruyabilir ve atletik performansınızı artırır. Pilates ile eskisinden daha güçlü, daha dengeli, daha esnek olacak ve her şey sizin için daha kolay ve ağrısız olacaktır. Bir çok ünlü atlet, NBA oyuncusu, sporcu ve aktör pilates yapıyor. Bedeninizin sağlığını ve gelişimini önemsiyorsanız, pilatesi egzersiz yaşamınıza dahil edin.</p>
</div>
{% endblock %}
