{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Tüm Vücut</h1>
    <p class="lead">Tüm Vücut ile ilgili videolar ve açıklamalar.</p>
    <hr class="my-4">
    <ul class="links">
        <p>Pilates, vücudu her yönüyle çalıştıran oldukça etkili bir egzersiz türüdür. Doğru nefes teknikleri uygulandığında kısa süre içerisinde sonuç veren, hem bölgesel hem de genel olarak vücudu toparlayan ve sıkılaştıran bir spordur. Düzenli yapıldığında birkaç hafta içerisinde sonuçlarını görmek mümkündür.</p>
        <li><a href="https://youtu.be/NkPRbM5Xzk8?si=hzUseJ9LIJg_cZH2" target="_blank">Tüm Vücut 1</a></li>
        <li><a href="https://youtu.be/B_AEh40PnAQ?si=Mq09yvQjKNQt3BNl" target="_blank">Tüm Vücut 2</a></li>
        <li><a href="https://youtu.be/tdykXxDMK3w?si=frBP7U4YbRs90dp4" target="_blank">Tüm Vücut 3</a></li>
        <li><a href="https://youtu.be/Dj0bk8TFWdY?si=CLiI478ti6dtFODX" target="_blank">Tüm Vücut 4</a></li>
        <li><a href="https://youtu.be/abuyYpOO1oU?si=Vj0XrQrRixvdooGZ" target="_blank">Tüm Vücut 5</a></li>
        <li><a href="https://youtu.be/GXxwe0IV7Qk?si=z8eLUvqLjZQnF-dy" target="_blank">Tüm Vücut 6</a></li>
        <li><a href="https://youtu.be/ySnQGJrL-mc?si=COypYir5z3KUYZu6" target="_blank">Tüm Vücut 7</a></li>
        <li><a href="https://youtu.be/4SKG8J0x8dw?si=7BwfRQnGpv_6-1Eu" target="_blank">Tüm Vücut 8</a></li>
        <li><a href="https://youtu.be/CGmr02bfHUo?si=QqydoW0Qa2aEkfx8" target="_blank">Tüm Vücut 9</a></li>
        <li><a href="https://youtu.be/NQmnJtB1gzo?si=8N51kN7twgxxkjZR" target="_blank">Tüm Vücut 10</a></li>
        <li><a href="https://youtu.be/szRPTqEiIWE?si=KvHXMYEo1SMQibCW" target="_blank">Tüm Vücut 11</a></li>
        <li><a href="https://youtu.be/cdeek9Dg5bk?si=57WxI8UDmWZiJj4z" target="_blank">Tüm Vücut 12</a></li>
        <li><a href="https://youtu.be/nnpwDoD6fyA?si=Xx6hxEv8ChnkddB-" target="_blank">Tüm Vücut 13</a></li>
        <li><a href="https://youtu.be/CPI_Ve7vsHs?si=wfmuYVF-UKX8I7Jl" target="_blank">Tüm Vücut 14</a></li>
    </ul>
</div>
{% endblock %}